$primaryColor: red darken-4;
$darkRed: red darken-1;
$accentRed: red accent-4;
$accentBlue: #607d8b;
$secondaryColor: rgb(223, 219, 219) lighten-5;
$tertiaryColor: rgb(153, 149, 149) darken-2;
$darkColor: #050404;
$whiteColor: #ffff;
$blueGrey: #90a4ae;
$darkblueGrey: #37474f;
$darkestblueGrey: #263238;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@700;900&family=Roboto:wght@500&display=swap");
$primaryFont: "Roboto", sans-serif;
$mainHeadingFont: "Roboto Slab", serif;

$margin: 15px;
$padding: 15px;
