$primaryColor: color("materialize red", "darken-4") !default;
$darkRed: color("materialize-red", "darken-1") false !default;
$accentRed: colo("materialize red", "accent-4");
$accentBlue: color("materialize #607d8b");
$secondaryColor: color("materialize grey", "lighten-5");
$tertiaryColor: color("materialize grey", "darken-2");
$darkColor: color("materialize #050404");
$whiteColor: color("materialize #ffff");
$blueGrey: color("materialize #90a4ae");
$darkblueGrey: color("materialize #37474f");
$darkestblueGrey: color("materialize #263238");

$font-weights: (
	"regular": 400,
	"medium": 600,
	"bold": 700,
	"black": 900,
);

nav {
	background-color: $primaryColor;
	color: $whiteColor;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: $secondaryColor;
	color: $primaryColor;
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	display: flex;
	height: 75vh;
	justify-content: center;
}

article [role="main"] {
	width: 90vw;
	height: 25vh;
	display: flex;
}

aside[role="complementary"] {
	float: left;
	width: 25vw;
	height: 25vh;
}

.container {
	display: flex;
	width: 100%;
	background-color: $secondaryColor;
	color: $accentRed;
}

.element {
	align-items: center;
	background-color: $tertiaryColor;
	border-radius: 50px;
	display: flex;
	height: 200px;
	justify-content: center;
	margin-right: 4rem;
	width: 200px;
}

.brightText {
	color: $accentRed;
}

.drop-shadow {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.inset-shadow {
	box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}
