<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <button> Info button?</button> 
        THIS IS WHERE THE HEADER WILL GO
        <img src="https://via.placeholder.com/50">
        <button>Menu button?</button>
    </header>
    <br>

    <img src="https://via.placeholder.com/75">
    <img src="https://via.placeholder.com/75">
    <img src="https://via.placeholder.com/75">
    <br>

    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150">
    <button> add user</button> <br>

    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150"> 
    <br>


    <footer>
        <button> <-</button>
        <input type="search" name="search" id="search"> search</input> <br>
        <button>-></button>
    </footer>

</body>
</html>