<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <button> Info button?</button> 
        THIS IS WHERE THE HEADER WILL GO
        <img src="https://via.placeholder.com/50">
        <button>Menu button?</button>
    </header>
    <br>

    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150">
    <br>

    <input type="text" name="search" id="search"> search bar</input> <br>

    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150">
    <img src="https://via.placeholder.com/150"> 
    <br>
    <img src="https://via.placeholder.com/50">
    <img src="https://via.placeholder.com/50">
    <img src="https://via.placeholder.com/50">


    <footer>
        <button> home</button>
        <button> games </button>
        <button> notifications</button>
        <button>search</button>
    </footer>

</body>
</html>