<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice RollerZ Sign-Up</title>
</head>
<body>
    <nav>Dice RollerZ</nav>
    <header>
        <button> Info button?</button>

        <button>Menu button?</button>
    </header>
    <h1>/>/> Welcome. Create an account: </h1>

    <img src="https://via.placeholder.com/150"> <br>

    <input type="text" name="login" id="login"> create username</input> <br>

    <input type="text" name="signin" id ="signin"> create password </input> <br>
    <button> share?</button> <button> location?</button> <br>

    <label for="file">sign in progress:</label>
    <progress id="file" value="50" max="100"> 50% </progress>

    <footer>
        <button> <-</button>
        <p> DICE ROLLERZ</p>
        <button>-></button>
    </footer>
</body>
</html>