.nav {
  background-color: darkred;
  padding: 20px;
  margin-top: 0;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: x-large;
}

.disabled-icon{
  padding:0 32px;
}

.disabled{
  align-items: center;
  color:#977100!important;
  text-shadow:-1px -1px 0px #333;
}

.disabled-nav-icon{
  padding:0 15px;
  color:#666;
  text-shadow:-1px -1px 0px #333;
}